@import "~normalize.css";

body {
  width: 100%;
}

button {
  box-sizing: inherit;
  font-size: 44px;
  line-height: 58px;
  border: 2px solid yellow;
  background: black;
  color: yellow;
  padding: 4px 12px;
  margin: 24px auto;
  width: 260px;
  display: block;
  box-shadow: 10px 2px 10px 2px gray;

  &:hover {
    border: 2px solid rgb(233, 24, 111);
    color: rgb(233, 24, 111);
  }
}

li {
  display: none;
}